html {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    height: 100vh; 
}
.content {
    flex: 1 0 auto; 
    padding: 20px;
}
.footer {
    flex-shrink: 0;
    position: fixed;
    padding: 20px;
    min-width: 100%;
    background: #dddddd;

}
